* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 1.5rem;
}
li {
  color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
}
/* Main css */
.top-bg {
  background-image: linear-gradient(
    to right,
    #5c258d 0%,
    #4389a2 51%,
    #5c258d 100%
  );
  padding: 25px;
  color: white;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  padding-left: 60px;
}

.checkout {
  padding-right: 60px;
}
button#cart-icon i {
  color: #86b7fe;
}
.btn-minus {
  color: #5c258d;
}
.btn-plus {
  color: #0dcaf0;
}
.btn-plus,
.btn-minus {
  font-size: large;
  width: 35px;
  background: none;
  font-weight: bold;
  box-shadow: inset 2px 2px 10px 2px #d3d3d3;
}

button#cart-icon {
  background: transparent;
  box-shadow: 5px 5px 10px 1px #3e076f;
  font-size: 1.5rem;
}

span.quantity {
  font-size: large;
  padding: 0px 10px;
}
.container-wraper {
  padding: 25px;
  border-radius: 10px;
  box-shadow: -3px -3px 10px 0px #e9d1ff, 3px 3px 10px 0px #7dc3e1;
}
.row {
  gap: 25px 0;
}
.single-product {
  box-shadow: -3px -3px 10px 0px #d1d1d1, 3px 3px 10px 0px #d1d1d1;
  padding-bottom: 15px;
  border-radius: 8px;
}
.product-img img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: ease 0.25s;
}
.single-product:hover .product-img > img {
  transform: scale(0.9);
}
.product-details {
  padding: 10px;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details h2 {
  font-size: 1.3rem;
  color: #656565;
  padding-bottom: 15px;
}
.product-details a {
  color: #64b1d3;
  padding-left: 0.4rem;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
}
a.modal-btn.view-more-btn:hover {
  color: #64b1d3;
  text-decoration: underline;
}
.price {
  min-width: 100%;
  font-size: 1.3rem;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 5px 0px #cdcdcd;
}
button {
  background-image: linear-gradient(
    to right,
    #5c258d 0%,
    #4389a2 51%,
    #5c258d 100%
  );
  border: none;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  display: block;
  box-shadow: 5px 5px 10px 1px rgb(207 207 207);
}
.modal-btn:hover,
.cart-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.modal-short-description ul {
  list-style: none;
  padding-left: 0;
}
.modal-description {
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.modal-description p {
  text-align: justify;
}
.modal-close {
  background: #3c056d;
  outline: none;
  border: none;
}
.modal-cart-btn {
  padding: 6px 8px;
}
.modal-close:hover {
  background: #8d4acb;
}
button.btn-close:hover {
  transform: scale(0.9);
}
ul#cart-items-list {
  list-style: none;
  padding-left: 0;
}

ul#cart-items-list li {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: self-start;
}
ul#cart-items-list li p {
  width: 50%;
  font-size: large;
}
.btn-minus {
  color: #5c258d;
}
.btn-plus {
  color: #0dcaf0;
}
.btn-plus,
.btn-minus {
  background: none;
  font-weight: bold;
  box-shadow: inset 2px 2px 10px 2px #d3d3d3;
}

p#applied-promo {
  font-size: large;
  margin-top: 25px;
  font-weight: 500;
}

.checkout-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 65px;
}
.checkout-bottom button {
  border: none;
  outline: none;
  font-size: large;
  background: #4488a2;
  transition: ease 0.4s;
  font-weight: 500;
}
button#clear-cart-button {
  background: #5c258d;
}

button#clear-cart-button:hover {
  background: #8843c9;
}
.checkout-bottom button:hover {
  color: white;
  background: #19617b;
}
.summary-modal {
  justify-content: space-between;
}
p#cart-summary-total {
  font-size: 1.5rem;
  font-weight: bold;
}
button#apply-promo-button {
  font-weight: 500;
  background: #4488a2;
  border: none;
  outline: none;
}
p#applied-promo span {
  text-transform: capitalize;
  font-weight: 700;
  color: #f9bb00;
  padding: 0px 5px;
}

input#promo-code-input {
  margin: 8px 0px 15px 0;
}

.promo-area {
  margin-top: 50px;
}
.modal-header {
  background: #5c258d;
  color: white;
}

h5#cartSummaryModalLabel {
  color: white;
}
.cart-close button {
  box-shadow: 5px 5px 10px 1px #3c155f;
}
button#apply-promo-button:hover {
  box-shadow: 1px 2px 2px 0px grey;
}
